<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListOfGamesServlet</servlet-name>
        <servlet-class>controller.GetListOfGamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavbarServlet</servlet-name>
        <servlet-class>controller.NavbarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameDetailsServlet</servlet-name>
        <servlet-class>controller.GameDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>controller.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewProfileServlet</servlet-name>
        <servlet-class>controller.UserViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLibraryServlet</servlet-name>
        <servlet-class>controller.UserLibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllUserLibraryServlet</servlet-name>
        <servlet-class>controller.ViewAllUserLibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishPayment</servlet-name>
        <servlet-class>controller.FinishPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>controller.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerSiteServlet</servlet-name>
        <servlet-class>controller.ProductManagerSiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductSevlet</servlet-name>
        <servlet-class>controller.AddProductSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertGameServlet</servlet-name>
        <servlet-class>controller.InsertGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteUpdateServlet</servlet-name>
        <servlet-class>controller.ExecuteUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListOfGamesServlet</servlet-name>
        <url-pattern>/GetListOfGamesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavbarServlet</servlet-name>
        <url-pattern>/NavbarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameDetailsServlet</servlet-name>
        <url-pattern>/GameDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewProfileServlet</servlet-name>
        <url-pattern>/UserViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLibraryServlet</servlet-name>
        <url-pattern>/UserLibraryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllUserLibraryServlet</servlet-name>
        <url-pattern>/ViewAllUserLibraryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishPayment</servlet-name>
        <url-pattern>/FinishPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/BuyNowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerSiteServlet</servlet-name>
        <url-pattern>/ProductManagerSiteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductSevlet</servlet-name>
        <url-pattern>/AddProductSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertGameServlet</servlet-name>
        <url-pattern>/InsertGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteUpdateServlet</servlet-name>
        <url-pattern>/ExecuteUpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
